* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyWebFont";
  src: url("CircularSp-Book-a00e99ef9996a3a157fb6b746856d04f.woff2")
    format("woff2");
}

body {
  font-family: "MyWebFont";
  background-color: #000000;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #535359;
  border-radius: 5px;
}

.left-sidebar {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  width: 450px;
  height: 120px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 25px 25px 25px 30px;
  background-color: #121212;
  border-radius: 10px;
}

.home-tag {
  display: flex;
  align-items: center;
  font-weight: 550;
  gap: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

.home-tag i {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  width: 450px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 25px 25px 25px 30px;
  background-color: #121212;
  border-radius: 10px;
  flex-grow: 1;
}

.myWorld div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myWorld img {
  width: 15%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.library i {
  font-size: 20px;
}

.library {
  display: flex;
  justify-content: space-between;
}
.library div {
  display: flex;
  gap: 1rem;
  font-weight: 600;
}

.playlist span {
  border: none;
  padding: 5px 15px;
  border-radius: 50px;
  background-color: #2a2a2a;
  font-size: 14px;
}

.drop {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.drop i {
  font-size: 18px;
}

.myWorld div {
  margin-bottom: 10px;
}

.right-sidebar {
  width: 100%;
  /* height: 100%; */
  overflow-y: scroll;
  background-color: #121212;
  background: linear-gradient(
    to bottom,
    #535359 0%,
    #121212 400px,
    #121212 600px
  );
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
}
.bottom-up {
  background: linear-gradient(rgb(87, 95, 98), rgb(45, 49, 51));
  margin-top: -45px;
  padding-top: 25px;
}

.bottom-mid {
  background: linear-gradient(
    rgb(35, 38, 39) 0%,
    rgb(14, 15, 15) 150px,
    rgb(14, 15, 15) 600px
  );
}

.page {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 20px;
}
/* .pageLeft {
  display: flex;
  justify-content: flex-start;
} */

.page div {
  margin-left: 20px;
  color: white;
}

.same {
  border: none;
  padding: 5px 15px;
  border-radius: 50px;
  background-color: #2a2a2a;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 600;
}

.same:hover {
  cursor: pointer;
  color: grey;
  background-color: rgb(60, 228, 120);
}

.same2 {
  border: none;
  padding: 7px 10px;
  border-radius: 50%;
  background-color: #2a2a2a;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 600;
}

.same2:hover {
  cursor: pointer;
  color: grey;
}

.same3 {
  border: none;
  padding: 5px 15px;
  border-radius: 50px;
  color: #2a2a2a;
  background-color: white;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 600;
 
}

.same3:hover {
  cursor: pointer;
  color: grey;
}

.album-info {
  display: flex;
  color: white;
  margin-left: 20px;
  padding: 55px 25px 25px 0px;
}
.album-info img {
  width: 90%;
  box-shadow: rgba(14, 30, 37, 0.7) 0px 2px 4px 0px,
    rgba(14, 30, 37, 1) 0px 2px 16px 2px;
}

.image-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prism {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.image-descrip {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 12px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
}

.pausePlay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 15px 20px;
}

.pausePlayOne {
  border: none;
  padding: 0px 13px;
  border-radius: 50%;
  color: #2a2a2a;
  background-color: rgb(60, 228, 120);
}

.pausePlayOne i {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
}

.pausePlayTwo {
  padding: 15px 5px;
  color: rgb(60, 228, 120);
}

.pausePlayTwo i {
  font-size: 25px;
}

.pausePlayThree {
  padding: 15px 5px;
  color: #b8b2a9;
}

.pausePlayThree i {
  font-size: 25px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  color: #9da6a9;
}

.hash {
  margin-left: 40px;
  margin-right: 10px;
}

.album {
  margin-left: 25%;
}

.dateadded {
  margin-left: 20%;
}

.time {
  margin-left: 20%;
  margin-right: 10px;
}

hr {
  margin-top: 10px;
  border-bottom: 1px solid;
}

.mainSongs {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  color: #9da6a9;
}

.foot {
  position: fixed;
  background-color: black;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songInfo {
  color: white;
}

.footer-image {
  display: flex;
  align-items: center;
}

.footer-image img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
}

.pausePlay {
  margin-left: 5px;
  font-size: 25px;
}

.fa-circle-play,
.fa-circle-pause {
  width: 75px;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

.fa-circle-play,
.fa-circle-pause:hover {
  cursor: pointer;
}

.shuffle {
  margin-right: 20px;
}

.shuffle:hover {
  cursor: pointer;
  color: rgb(60, 228, 120);
}

.backward :hover {
  cursor: pointer;
  color: rgb(60, 228, 120);
}

.forward:hover {
  cursor: pointer;
  color: rgb(60, 228, 120);
}

.rewind {
  margin-left: 20px;
}

.rewind:hover {
  cursor: pointer;
  color: rgb(60, 228, 120);
}

.musicRange {
  color: white;
  margin-bottom: 30px;
}

.musicRange input {
  background: #4d4d4d;
  border-radius: 5px;
  height: 5px;
  margin: 0 10px;
  cursor: pointer;
  width: 30vw;
}

.volume {
  color: white;
  display: flex;
  align-items: center;
}

.volumeup-down :hover {
  cursor: pointer;
  color: rgb(60, 228, 120);
}

.volume input {
  background: #4d4d4d;
  border-radius: 10px;
  height: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.dropDownOptns {
  display: none;
  background-color: #282828;
  position: absolute;
  width: 150px;
  margin-top: 12px;
  height: 200px;
  border-radius: 5px;
  padding: 10px 5px;
  margin-top: 10px;
  margin-left: -15px;
}

.dropDownOptns.toggle {
  display: block;
}

.dropDownOptns ul {
  height: 100px;
  margin-top: 10px;
}

.dropDownOptns li {
  list-style-type: none;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px 0px 10px 10px;
}

.dropDownOptns span {
  font-size: 12px;
  padding-left: 10px;
}

.dropDownOptns li:hover {
  background-color: #424242;
}

.dropDownBtn {
  cursor: pointer;
}

.dropDownBtn span {
  margin-right: 10px;
}

.dropDownBtn:hover span {
  color: grey;
  transform: scale(1.02);
}

.rotate {
  transform: rotate(180deg);

  transition: transform 0.3s ease;
}

.main-playlist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f2ffff;
  margin-left: 40px;
  position: relative;
  margin-top: 15px;
  padding: 7px 0px;
}

.main-playlist ul {
  width: 100%;
}

.main-playlist ul li {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.number {
  margin-right: 20px;
  margin-left: 0px;
}

.main-playlist img {
  width: 4%;
  margin-left: -7px;
  margin-right: 10px;
}

.main-playlist ul li:hover {
  background-color: #2a2a2a;
}

.main-playlist ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: transparent;
}

.main-playlist ul li:hover::before {
  background-color: #2a2a2a;
}

.main-playlist ul li:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}

.fakeDiv {
  width: 500px;
  height: 500px;
}

.songInfo {
  width: 200px;
}

@media (max-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    margin: 0px;
    border-radius: 0px;
  }
  .page {
    border: 1px solid red;
    padding-right: 0px;
    padding-top: 10px;
  }
  .same {
    padding: 0px 5px;

    margin-right: 0px;
  }
  .same2 {
    padding: 3px 7px;
    margin-right: 0px;
  }
  .same3 {
    padding: 0px 5px;
    margin-right: 0px;
    
  }
  .page Div {
    margin-left: 0px;
  }
  .pageRight span {
    word-wrap:break-word ;
  }
}
